<h2>Votar por el juego del año</h2>
<hr>

<div class="row row-cols-1 row-cols-md-4 p-3">
    <div class="col mb-3" *ngFor="let juego of juegos">
        <div class="card">
            <img [src]="juego.url" class="card-img-top" [alt]="juego.id">
            <div class="card-body bg-black">
              <h5 class="card-title">{{juego.name}}</h5>
              <!-- <p class="card-text">{{juego.votos+" Votos"}}</p> -->
              <button class="btn w-100 btn-outline-primary"
                (click)="votarJuego(juego)">
                Votar
              </button>
            </div>
          </div>
    </div>
</div>